
.content {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.content p {
  margin-bottom: 1rem;
}

.form {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.formitem label {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 25rem;
}


.formitem input {
  padding: .2rem;
  background-color: var(--color-background);
  border: 1px solid var(--color-text);
  border-radius: var(--border-radius);
}

.formbtn {

}

.formmsg {

}