
.main {
  /* padding: 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  background-color: var(--color-background);
}

.hero {
  min-height: 70vh;
  display: flex;
  align-items: center;
  gap: 4rem;
  padding-top: 10rem;
  /* flex-direction: column; */
  /* justify-content: center; */
}

.hero_logo {
  fill: var(--color-text);
  width: 100%;
}

.hero_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.photo {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.copy {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 5px;
}
.services {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.service {
  border: 1px solid black;
  /* margin-top: 3rem; */
  padding: 1rem;
  border-radius: 5px;
}
.service h4 {
  margin: 0;
  padding-bottom: .5rem;
  font-size: 2rem;
}




@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
